<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-sca    <le=1.0">
    <script src="https://kit.fontawesome.com/96781c3f85.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="style.css"/>
  </head>

  <body>
 <h1>Books</h1>
  <table>
     <thead>
      <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
      </tr>
     </thead>
  
  <tbody>
   <tr>
    <td>リーダブルコード</td>
    <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
    <td>
     <a class="show" href"/books">Show</a>
    </td>
    <td>
     <a class="edit" href"/books">Edit</a>
    </td>
    <td>
     <a date-confirm="Are you sure?" class="destroy" rel="nofollow" date-method="delete" href="/books">Destroy</a>
    </td>
   </tr>
   
   <tr>
    <td>トラブル知らずのシステム設計</td>
    <td>システム設計の要点を図解で説明してくれます</td>
    <td>
     <a class="show" href"/books">Show</a>
    </td>
    <td>
     <a class="edit" href"/books">Edit</a>
    </td>
    <td>
     <a date-confirm="Are you sure?" class="destroy" rel="nofollow" date-method="delete" href="/books">Destroy</a>
    </td>
   </tr>
   
  </tbody>
</table>
  </body>
</html>