<h4>Title:<span><%= link_to book.title, books_path(book.id) %></span></h4>


<h4>Body:<p><%= @book.body %></p></h4>
<span>
 <%= Book_to book.title, books_path(book.id) %>
</span>
 <% end %>
 <% end %>
